.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/images/backgrounds/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Montserrat", serif;
  color: white;
  text-align: center;
  gap: 40px; /* DODAJE ODSTĘP 40px MIĘDZY ELEMENTAMI */
}

.title {
  font-family: "Passero One", sans-serif;
  font-weight: 400;
  font-size: 128px;
  color: #fff;
  text-shadow: 28px 28px 28px 0 rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 25px #1b1d1f;
  paint-order: stroke fill;
  margin-bottom: 0;
}

.homepageContainer {
  display: flex;
  justify-content: center; /* Wyrównanie przycisków */
  align-items: center;
  gap: 40px; /* Odstęp między przyciskami */
  width: 100%; /* Dostosowanie szerokości */
  margin-top: 20px; /* Zmniejsza odstęp od tytułu */
  margin-bottom: 40px; /* Powiększa odstęp nad downContainer */
}

.buttonLogin {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #646423;
  border-radius: 20px;
  padding: 10px;
  width: 256px;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #fff;
  border: none;

  &:hover {
    background-color: #ffcc00;
  }
}

.downContainer {
  width: 600px;
  height: 70px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  background: #646423;
  font-family: "Passero One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
